body{
    background-image: url(img/old_paper.jpg);
}

div p{
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

.imagen1{
    position: fixed;
}

.imagen2{
    position: fixed;
    bottom: 0;
    right: 0;
}

.imagen2 > img{
    width: 200px;
    
}